.moveCard {
    align-content: center;
    padding: 2px 16px;
}

.moveCard:hover {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  top:5px;
  z-index: 1000;

  -webkit-transform: scale(0);
  transform: scale(1.1);
}

.imgLibro {
    height: 350px;
}

.colorTitle {
  color: aliceblue !important
}

.imgShowBook{
  width: 100%
}

.cardEditarLibro {
  background-color: aliceblue;
  align-content: center;
  padding: 2px 16px;
  border: 5px;
  box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  top: 50px;
}

.movetitle {
  align-content: center;
  position: relative;
}