.cardForm {
    position: relative;
    box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    top: 150px;
}

.cardForm:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.imgLogin {
    width: 25%
}

.imgBiblio {
    width: 75%
}

.title {
    position: relative;
    color: aliceblue;
    top: 70px;
}
